nav {
    background-color: rgb(10, 10, 10);
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.5em 0;
    background-color: rgb(17, 17, 17);
}

nav a {
    size: 5vw;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #c1c1c1;
}

nav a:active {
    color: #4f4f4f;
}

header h1 {
    background: rgb(3,0,55);
    background: linear-gradient(90deg, rgb(65, 118, 202) 0%, rgb(57, 75, 178) 71%, rgb(58, 56, 171) 100%);
    padding: 2.5%;
    text-align: center;
    color: white;
}
